.content {
    display: flex;
    padding-top: 50px;
    flex-wrap: wrap-reverse;
    .left {
        width: 45%;
        img {
            width: 100%;
            @media (max-width: 385px) {
                width: 80%;
            }
        }
        @media (max-width: 385px) {
            width: 100%;
        }
    }
    .right {
        width: 40%;
        padding-top: 100px;
        @media (max-width: 385px) {
            width: 100%;
        }
        .sub-title {
            font-family: "Raleway";
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 28px;
            letter-spacing: 10px;
            color: #FF3232;
            mix-blend-mode: normal;
            @media (max-width: 385px) {
                text-align: center;
            }
        }
        .title {
            font-family: "Raleway";
            font-style: normal;
            font-weight: 800;
            font-size: 40px;
            line-height: 56px;
            color: #FDFDFD;
            mix-blend-mode: normal;
            @media (max-width: 385px) {
                text-align: center;
            }
        }
        .description {
            margin: auto;
            max-width: 650px;
            font-family: "Mulish";
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 32px;
            color: #E6E6E6;
            @media (max-width: 385px) {
                text-align: center;
            }
        }
    }
}

.list-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 50px;
    @media (max-width: 385px) {
        padding: 0;
    }
    .card {
        margin: 10px;
        cursor: pointer;
        img {
            width: 160px;
            object-fit: contain;
            @media (max-width: 385px) {
                width: 100px;
            }
        }
    }
}
